//COLORS
$color-primary-light: #86c4ce;
$color-primary: #4aa6b5;
$color-primary-dark: #1e4249;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #d6d6d6;
$color-grey-light-4: #b6b6b6;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// FONT
$default-font-size: 1.6rem;