.card {
    background-color: $color-white;
    height: 60rem;
    box-shadow: 0 2rem 5rem rgba($color-black, .1);
    transition: all .3s;
    position: relative;
    display: grid;
    grid-template-rows: 23rem 1fr 5rem;
    grid-gap: 2rem;

    &__header {
        display: grid;
        grid-template-rows: 17rem 1fr;

        &::after {
            content: "";
            height: 1px;
            margin: 0 auto;
            width: 90%;
            background-color: $color-grey-light-3;
        }
    }

    &__image {
        background-image: url(../images/fitness-1882721_1920.jpg);
        background-position: center;
        background-size: cover;
        height: 16rem;
    }

    &__title-box {
        display: flex;
        flex-direction: column;
        margin-left: 1.5rem;
    }

    &__title {
        font-size: 2.4rem;
        color: $color-primary-dark;
    }

    &__star {
        fill: $color-star;
        width: 2.5rem;
        height: 2.5rem;
        backface-visibility: hidden;

        &:not(:last-child) {
            margin-right: .4rem;
        }

        &--empty {
            fill: $color-grey-light-3;
        }
    }

    &__content {
        padding: 0 1.5rem;
    }

    &__round-title {
        font-size: 2rem;
        color: $color-grey-dark-3;
        margin-bottom: 0.5rem;
    }

    &__rounds {
        list-style: none;
        //padding: 0.5rem 0;

        & li {
            font-size: 1.4rem;
            color: $color-grey-dark;
            letter-spacing: 0.2rem;
            word-spacing: 0.5rem;

            & b {
                color: $color-primary;
            }

            &:last-child {
                margin-bottom: 2.8rem;
            }
        }
    }

    &__count {
        font-size: 1.6rem;
        color: $color-grey-dark;
        letter-spacing: 0.2rem;
        word-spacing: 0.5rem;

        & b {
            color: $color-primary;
        }
    }

    &__footer {
        background-color: $color-grey-dark-3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        //padding: 0 2rem 0 2rem;
        list-style-type: none;

        & li {
            font-size: 1.4rem;
            display: flex;
            //width: 9rem;
            align-items: center;
            justify-content: flex-start;
            margin: 0 1.5rem;

            &:first-child {
                margin-right: auto;
            }

            & svg {
                fill: $color-grey-light-1;
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 0.5rem;
                backface-visibility: hidden;
            }
        }
    }
}