.card {
    background-color: $color-white;
    box-shadow: 0 2rem 5rem rgba($color-black, .1);
    transition: all .3s;
    position: relative;
    display: grid;

    &--expand {
        grid-template-rows: 23rem 1fr 5rem;
        height: 60rem;
        grid-gap: 2rem;
    }

    &--compress {
        grid-template-rows: 16rem 5rem;
        grid-gap: .1rem;
    }

    &__header {
        display: grid;
        grid-template-rows: 17rem 1fr;
        position: relative;

        &--expand {

            &::after {
                content: "";
                height: 1px;
                margin: 0 auto;
                width: 90%;
                background-color: $color-grey-light-3;
            }
        }

        &--compress {
            cursor: pointer;
        }
    }

    &__image {
        //background-image: linear-gradient(to right bottom, rgba($color-primary-dark, 0.6), rgba($color-black, 0.9)), url(../images/fitness-1882721_1920.jpg);
        background-position: center;
        background-size: cover;
        height: 16rem;
    }

    &__title-box {
        display: flex;
        flex-direction: column;
        padding: 0 2rem;

        &--compress {
            position: absolute;
            padding: 1rem 2rem;
        }
    }

    &__title {
        font-size: 2.4rem;
        color: $color-primary-dark;

        &--compress {
            color: $color-grey-light-2;
        }
    }

    &__star {

        svg {
            fill: $color-star;
            width: 2.5rem;
            height: 2.5rem;
            backface-visibility: hidden;

            &:not(:last-child) {
                margin-right: .4rem;
            }
        }

        &--1 {
            & svg:not(:first-child) {
                fill: $color-grey-light-3;
            }
        }

        &--2 {
            & svg:last-child {
                fill: $color-grey-light-3;
            }
        }
        
    }

    &__content {
        padding: 0 2rem;
        overflow-y: auto;

        &--compress {
            display: none;
        }
    }

    &__round-title {
        font-size: 2rem;
        color: $color-grey-dark-3;
    }

    &__rounds {
        list-style: none;
        font-size: 1.4rem;

        &--first {
            margin-top: 1.5rem;
        }

        li {
            color: $color-grey-dark;
            letter-spacing: 0.2rem;
            word-spacing: 0.5rem;

            b {
                color: $color-primary;
            }
        }
    }

    &__count {
        font-size: 1.6rem;
    }

    &__footer {
        background-color: $color-grey-dark-3;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        //padding: 0 2rem 0 2rem;
        list-style-type: none;

        &--1, &--2, &--4 {
            li:nth-child(2) {
                display: none;
            }
        }

        li {
            position: relative;
            font-size: 1.4rem;
            display: flex;
            //width: 9rem;
            align-items: center;
            justify-content: flex-start;
            margin: 0 1.5rem;

            &:first-child {
                margin-right: auto;
            }

            svg {
                fill: $color-grey-light-1;
                width: 2.5rem;
                height: 2.5rem;
                margin-right: 0.5rem;
                backface-visibility: hidden;
            }

            &:hover .card__tooltip {
                visibility: visible;
            }
        }
    }

    &__tooltip {
        visibility: hidden;
        width: 20rem;
        background-color: $color-grey-dark-3;
        color: $color-grey-light-1;
        text-align: center;
        border-radius: 1rem;
        padding: .5rem 0;
        position: absolute;
        z-index: 1;
        bottom: 175%;
        left: 50%;
        transform: translateX(-50%);

        &--hidden {
            display: none;
        }
    }
}