*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@font-face {
  font-family: Lato Regular;
  src: url(../fonts/Lato-Regular.ttf); }

@font-face {
  font-family: Lato Bold;
  src: url(../fonts/Lato-Bold.ttf); }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  background-color: #fff; }

body {
  font-family: "Lato Regular", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #f7f7f7; }

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 7rem;
  min-width: 90rem; }
  .heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    margin-bottom: 2rem; }
  .heading-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 700;
    letter-spacing: 1.5rem; }

.heading-secondary {
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  color: #4aa6b5;
  letter-spacing: 2px; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.grid {
  width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem; }

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.6), rgba(74, 166, 181, 0.9)), url(../images/kettlebell-1045067_1920.jpg);
  background-position: center;
  background-size: cover;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
  display: flex;
  justify-content: center; }
  .header__logo-box {
    position: absolute;
    top: 3rem;
    left: 3rem; }
  .header__logo {
    height: 10rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -60%);
    text-align: center; }

.btn, .btn:link, .btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 1.6rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-1px);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--white {
  background-color: #fff;
  color: #2c646d; }

.btn--blue {
  background-color: #4aa6b5;
  color: #fff; }

.card {
  background-color: #fff;
  height: 50rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.1);
  transition: all .3s;
  position: relative;
  display: grid;
  grid-template-rows: 18rem 23rem 1fr;
  grid-gap: 2rem; }
  .card:active, .card:focus {
    outline: none;
    transform: translateY(-1px); }
  .card__header {
    display: grid;
    grid-template-rows: 17rem 1fr; }
    .card__header::after {
      content: "";
      height: 1px;
      margin: .5rem auto 0 auto;
      width: 90%;
      background-color: #d6d6d6; }
  .card__image {
    background-image: url(../images/fitness-1882721_1920.jpg);
    background-position: center;
    background-size: cover;
    height: 16rem; }
  .card__title-box {
    display: flex;
    flex-direction: column;
    margin-left: 1.5rem; }
  .card__title {
    font-size: 2.4rem;
    color: #2c646d; }
  .card__star {
    fill: #f2b01e;
    width: 1.6rem;
    height: 1.6rem;
    backface-visibility: hidden; }
    .card__star--empty {
      fill: #b6b6b6; }
  .card__footer {
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem 0 1rem; }
  .card__info {
    display: flex;
    width: 9rem;
    align-items: center;
    justify-content: flex-end; }
    .card__info:not(:last-child) {
      margin-right: 1rem; }
  .card__icon {
    fill: #f7f7f7;
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.9rem;
    backface-visibility: hidden; }
  .card__icon-text {
    font-size: 1.4rem; }

.navigation {
  padding-top: 3rem;
  width: 45rem; }
  .navigation__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    font-size: 1.4rem;
    font-family: 'Lato Bold';
    color: #f7f7f7;
    text-transform: uppercase; }
  .navigation__item {
    display: inline-block;
    padding-bottom: 0.8rem;
    border-bottom: 2px solid transparent;
    cursor: pointer; }
    .navigation__item:hover {
      border-bottom: 2px solid #4aa6b5; }

.search {
  position: relative; }
  .search__icon.fa {
    font-size: 1.5rem; }
  .search__input {
    width: 40rem;
    height: 4.5rem;
    font-family: "Lato Regular";
    font-size: 1.8rem;
    padding-left: 1rem;
    padding-right: 6rem;
    margin-left: 1rem;
    outline: none;
    border-radius: 3px;
    background-color: #fff;
    border: none; }
  .search__button {
    position: absolute;
    right: 0;
    top: 0;
    height: 4.5rem;
    background: #d6d6d6 url(../images/search.png);
    background-position: center;
    background-size: 2.5rem;
    background-repeat: no-repeat;
    width: 5rem;
    outline: none;
    border: none;
    cursor: pointer;
    border-top-right-radius: 3px; }
    .search__button:hover {
      background-color: #b6b6b6; }

.section-workouts {
  background-color: #f7f7f7;
  padding: 25rem 0;
  margin-top: -20vh; }
